#sidebar
    background-color: #F3F5F7
    font-family: font-sans
    font-size: 16px
    min-width: 330px


#sidebar ul li
    padding: 10px 0


.sei-logo
    max-width: 274px
    padding: 49px 34px

.widget-wrap
    padding: 34px

.search-bar
    margin-left: 34px
    width: 295px
    height: 50px
    border: 0.75px solid #D8D8D8
    border-radius: 100px
    padding: 10px 20px 10px 40px
    font-size: 16px

.search-bar:focus
    outline: none

.sidebar-link
    text-decoration: none

.sidebar-header
    font-size: 16px
    color: rgba(0, 0, 0, 0.87)
    padding-bottom: 5px


.sidebar-description
    font-size: 14px
    color: rgba(0, 0, 0, 0.543846)
