<%- partial('_partial/head') %>
<body>
  <div id="container">
    <div id="wrap">
    <%- partial('_partial/sidebar') %>
      <div class="content">
        <section id="main"><%- body %></section>
      </div>
    </div>
  </div>
</body>
</html>